# Render Blueprint specification
# https://render.com/docs/blueprint-spec

services:
  - type: web
    name: nhl-gdt-updater
    runtime: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: PYTHON_VERSION
        value: "3.11"
      - key: SECRET_KEY
        generateValue: true
    autoDeploy: true
    plan: free
